@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@700&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

:root {
  --bgcolmid: #e6a1cf;
  --bgcolshadow: #4d4d80;
  --bgcollight: #ffffff;
  --bgcollighter: #fff8f9;

  --highlight: #ff00ff;
  --highlight2: #00ff44;

  --fontcoldark: #000d33;
  --fontcolmid: #000059;
  --fontcollight: #2e1380;

  --borderdebug: 0px none;
  /* --borderdebug: 1px dashed; */
  --softgrey: rgba(68, 68, 68, 0.206);

  --analysis-highlight: #fff;
  --analysis-highlight-ligh: #fff;
}

.App {
  text-align: center;
  /* font-family: "Roboto Mono", monospace; */
  font-family: "Inter", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: row;
}

.homelogo {
  text-align: left;
  font-size: 54px;
  font-weight: 500;
  letter-spacing: -2px;

  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 100px;
  color: gray;

  position: absolue;
  width: 100%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  flex-grow: 1;
  outline: var(--borderdebug) red;
  background-color: var(--bgcollight);
  width: calc(100% - 35px); 
  left: 35px;
  position: absolute;
  align-items: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.MuiButton-root {
  text-transform: unset !important;
}
